<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="ParkingId" [value]="parkingService.formData.parkingId" />
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-car" [class.green-icon]="ParkingName.valid" [class.red-icon]="ParkingName.invalid && ParkingName.touched"></i>
        </div>
      </div>
      <input name="ParkingName" #ParkingName="ngModel" [(ngModel)]="parkingService.formData.parkingName" class="form-control" placeholder="Paking Name" required />
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-address-book" [class.green-icon]="Address.valid" [class.red-icon]="Address.invalid && Address.touched"></i>
        </div>
      </div>
      <input name="Address" #Address="ngModel" [(ngModel)]="parkingService.formData.address" class="form-control" placeholder="Address" required />
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-university" [class.green-icon]="City.valid" [class.red-icon]="City.invalid && City.touched"></i>
        </div>
      </div>
      <input name="City" #City="ngModel" [(ngModel)]="parkingService.formData.city" class="form-control" placeholder="City" required />
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-flag-checkered" [class.green-icon]="State.valid" [class.red-icon]="State.invalid && State.touched"></i>
        </div>
      </div>
      <input name="State" #State="ngModel" [(ngModel)]="parkingService.formData.state" class="form-control" placeholder="State" required />
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-vcard-o" [class.green-icon]="ZipCode.valid" [class.red-icon]="ZipCode.invalid && ZipCode.touched"></i>
        </div>
      </div>
      <input name="ZipCode" #ZipCode="ngModel" [(ngModel)]="parkingService.formData.zipCode" class="form-control" placeholder="ZipCode" required />
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>
 

 
