<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="scheduleId" [value]="scheduleService.formData.scheduleId" />
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-calendar" [class.green-icon]="StartDate.valid" [class.red-icon]="StartDate.invalid && StartDate.touched"></i>
        </div>
      </div>
      <input type="date" name="StartDate" #StartDate="ngModel" [(ngModel)]="scheduleService.formData.startDate" class="form-control" placeholder="yyyy-MM-dd"   required />
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-calendar" [class.green-icon]="EndDate.valid" [class.red-icon]="EndDate.invalid && EndDate.touched"></i>
        </div>
      </div>
      <input type="date" name="EndDate" #EndDate="ngModel" [(ngModel)]="scheduleService.formData.endDate" class="form-control" placeholder="yyyy-MM-dd" required />
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-clock-o" [class.green-icon]="StartTime.valid" [class.red-icon]="StartTime.invalid && StartTime.touched"></i>
        </div>
      </div>
      <input type="time" name="StartTime" #StartTime="ngModel" [(ngModel)]="scheduleService.formData.startTime" class="form-control" placeholder="HH:mm" required />
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-clock-o" [class.green-icon]="EndTime.valid" [class.red-icon]="EndTime.invalid && EndTime.touched"></i>
        </div>
      </div>
      <input type="time" name="EndTime" #EndTime="ngModel" [(ngModel)]="scheduleService.formData.endTime" class="form-control" placeholder="HH:mm" required />
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fa fa-money" [class.green-icon]="Amount.valid" [class.red-icon]="Amount.invalid && Amount.touched"></i>
        </div>
      </div>
      <input type="number" name="Amount" #Amount="ngModel" [(ngModel)]="scheduleService.formData.amount" class="form-control" placeholder="$$$$" required />
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>
