<table class="table table-hover">
  <tr *ngFor="let park of parkingService.list">
    <td (click)="populatePark(park)">{{park.parkingName}}</td>
    <td (click)="populatePark(park)">{{park.address}}</td>
    <td (click)="populatePark(park)">{{park.city}}</td>
    <td (click)="populatePark(park)">{{park.state}}</td>
    <td (click)="populatePark(park)">{{park.zipCode}}</td>
    <td>
      <i class="fa fa-trash-o fa-lg text-danger" (click)="onDelete(park.parkingId)" ></i>
    </td>
  </tr>
</table>


