<table class="table table-hover">
  <tr *ngFor="let schedule of scheduleService.list">
    <td (click)="populateSchedule(schedule)">{{schedule.startDate | date:'yyyy-MM-dd'}}</td>
    <td (click)="populateSchedule(schedule)">{{schedule.endDate | date: 'yyyy-MM-dd'}}</td>
    <td (click)="populateSchedule(schedule)">{{schedule.startTime }}</td>
    <td (click)="populateSchedule(schedule)">{{schedule.endTime}}</td>
    <td (click)="populateSchedule(schedule)">{{schedule.amount | currency}}</td>
    <td>
      <i class="fa fa-trash-o fa-lg text-danger" (click)="onDelete(schedule.scheduleId)"></i>
    </td>
  </tr>
</table>
