  <div class="jumbtron">
  <h1 class="dispaly-4 text-center">Parking Info</h1>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <app-parking></app-parking>
    </div>
    <div class="col-md-8">
      <app-parking-list></app-parking-list>
    </div>
  </div>
  <hr />
  <h1 class="dispaly-4 text-center">Schedule Info</h1>
  <div class="row">
    <div class="col-md-3">
      <app-scheduling></app-scheduling>
    </div>
    <div class="col-md-8">
      <app-schedule-list></app-schedule-list>
    </div>
  </div>
  <hr />
  <h1 class="dispaly-4 text-center">Parking Schedules</h1>
  <div class="row">
    <div class="col-md-3">
      <app-parking-schedule></app-parking-schedule>
    </div>
    <div class="col-md-8">
      .....
    </div>
  </div>
</div>
