<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
  <a class="navbar-brand brand-custom" href="/parkings">Parkings</a>
  <a class="navbar-brand brand-custom" href="/parkings/parking-schedule">Schedule of Parkings</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link login-custom" href="#">Login</a>
      </li>

    </ul>
  </div>
</nav>
